@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: 'Red Hat Display', sans-serif;
}
h1,
h3 {
  white-space: nowrap;
  color: var(--Dark-blue);
}
h1 {
  font-size: 1.3em;
}
h3 {
  font-size: 0.9em;
}
p,
button {
  color: var(--Desaturated-blue);
}
p {
  font-size: 0.8em;
}
button {
  cursor: pointer;
  font-size: 0.8em;
}
.container {
  min-height: 100vh;
  background: var(--Pale-blue) url('images/pattern-background-mobile.svg') top center no-repeat fixed;
  background-size: 100% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  min-width: 320px;
  width: 80%;
  max-width: 375px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
}
.main * {
  transition: all 0.2s;
}
.image {
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
}
.text,
.payment-plans,
.buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1em 0;
  margin: 0 2em;
}
.text,
.buttons {
  flex-direction: column;
}
.payment-plans {
  justify-content: space-evenly;
  margin: 0 1em;
  border-radius: 10px;
  background-color: var(--Very-pale-blue);
}
.button-change-plan {
  font-weight: 500;
  border: none;
  text-decoration: underline;
  background: none;
  color: var(--Bright-blue);
}
.button-change-plan:hover {
  text-decoration: none;
  color: var(--Desaturated-blue);
}
.buttons {
  white-space: nowrap;
}
.proceed-button,
.cancel-button {
  font-weight: 900;
}
.proceed-button {
  padding: 1em 4em;
  margin-bottom: 1.5em;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1em 30px -5px var(--Desaturated-blue);
  background-color: var(--Bright-blue);
  color: var(--Very-pale-blue);
}
.proceed-button:hover {
  background: var(--Desaturated-blue);
}
.cancel-button {
  border: none;
  background: none;
}
.cancel-button:hover {
  color: var(--Dark-blue);
}
@media screen and (min-width: 736px) {
  body {
    font-size: 16px;
  }
  .container {
    background-image: url('images/pattern-background-desktop.svg');
    background-size: auto;
  }
  .text,
  .payment-plans,
  .buttons {
    padding: 1.5em 0;
    margin: 0 3em;
  }
  .payment-plans {
    margin: 0 2em;
  }
}